@model TripCalculator.ViewModel.TripBreakDownViewModel
@{
    ViewBag.Title = "BreakDown";
}

<div class="col-md-5 col-md-offset-4 padding-10">
    <h4>Trip Expenses Summary</h4>
</div>

<div class="col-md-5 col-md-offset-4">

    <div>
        <b>Total Cost of Trip: $@Model.TotalCost</b>
    </div>

    <div>
        @foreach(var s in Model.SubTotals)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Subtotal for @s.name</h3>
                </div>
                <div class="panel-body">
                    $@s.subtotal
                </div>
            </div>
        }
    </div>

    <div>
        @if (Model.debts.Count() == 0)
        {
            <h4>No one owes anyone anything.</h4>
        }
        else
        {
            foreach (var d in Model.debts)
            {
                <div>
                    <h4>@d.debtor needs to pay @d.creditor amount of $@Html.DisplayFor(m => d.amount)</h4>
                </div>
            }
        }
    </div>
</div>